.container {
  width: 500px;
  background: #fff;
  border-radius: 4px;
  height: 400px;
  outline: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 5px 15px;
  background: #90909078;
}

.header svg {
  margin-left: 10px;
  cursor: pointer;
}

.content {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content div {
  flex: 1;
  outline: none;
}
