.title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 500px;
  margin: auto;
  margin-top: 30px;
  color: #8600b3;
}

.title svg {
  cursor: pointer;
}

.card-container {
  margin: 35px auto;
  overflow-y: auto;
  max-width: 500px;
}
